<article>
  <ul>
    <li>
      <p>Автор: {{ post.author }}</p>
      <a href="{% url 'posts:profile' post.author %}"></a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"D d M Y" }}
    </li>
  </ul>
  <p>
    {{ post.text|linebreaksbr }}
  </p>
  <a href="{% url 'posts:post_detail' post.pk %}">подробная информация</a>
  <br>
  {% if post.group %}
    <p>Группа: {{ post.group }}</p>
    <a href="{% url 'posts:group_list' post.group.slug %}"></a>
    <hr>
  {% endif %}
</article>
 